.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //border-style: dashed;
    //border-color: white;
}

.container {
    background-color: #0e0e0e;
    filter: drop-shadow(0 0 0.75rem #0e0e0e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 8rem;
    border-radius: 1.2rem;
    //border-style: dashed;
    //border-color: white;
}

form{
    flex-direction: column;
    //border-style: dashed;
    //border-color: white;
}

@media screen and (max-width:600px) {
    .container {
        padding: 1rem 1.2rem;
        border-radius: 1.2rem;
        //border-style: dashed;
        //border-color: white;
    }
}