button {
    background-color: var(--yellow);
    border-radius: .2rem;
    border-style: none;
    margin-top: .8rem;
    font-size: 1.2rem;
    padding: .2rem .8rem;
    filter: drop-shadow(0 0 0.75rem #363636);
    transition: .2s;
    cursor: pointer;

    &:hover{
        background-color: var(--yellow-dark); 
    }
}

input {
    color: white;
    padding: .2rem .5rem;
    background-color: var(--codeblock);
    margin-top: .3rem;
    font-size: 1.2rem;
    border-style: none;
    border-radius: .2rem;
}

.code{
max-width: 900px;
}

.copy {
    cursor: pointer;
}

.responsive {
    width: 100%;
    padding: 10px;
    max-width: 100rem;
    height: auto;
}

@media screen and (max-width:600px) {
    input {
        font-size: 1rem;
    }
    button {
        font-size: 1rem;
        padding: .1rem .5rem;
    }
    .code{
        max-width: 300px;
        }
}