html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: var(--darkmode);
  color: white;
}
