p {
    font-family: 'Open Sans', sans-serif;
    //color: white;
    font-size: 1rem;
    font-weight: 200;
}
h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
}
button {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1rem;
    text-decoration: none; 
    font-weight: 400;
}