---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (!session) {
  return Astro.redirect("/auth/login");
}
---

<p>Welcome {session.user?.name}</p>
