---
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import GuildSelector from "~/components/preact/GuildSelector";
import UserInfo from "~/components/dashboard/UserInfo.astro";
---

<Layout>
  <UserInfo />

  <Container class="pb-4">
    <main
      class="flex flex-wrap items-center justify-center gap-12 pb-4 text-white"
    >
      <GuildSelector client:load />
    </main>
  </Container>
</Layout>
