---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);
---

{session ? <p>Welcome {session.user?.name}</p> : <p>Not logged in</p>}
