---
import Layout from "~/layouts/Layout.astro";
import Invite from "~/components/Invite.astro";
import Computer from "~/components/Computer.astro";
import Logo from "~/assets/logo.png";
import { Image } from "astro:assets";
---

<Layout>
  <main class="flex h-screen items-center justify-center pb-8 text-center">
    <div
      class="flex flex-col items-center px-4 text-center md:flex-row md:text-left"
    >
      <Image
        src={Logo}
        alt="Roles Bot Logo"
        format="webp"
        width={512}
        height={512}
        class="mb-6 h-48 w-48 rounded-full md:h-64 md:w-64"
      />
      <div>
        <h1 class="mb-4 text-6xl font-extrabold text-white md:text-7xl">
          Roles Bot
        </h1>
        <p class="max-w-3xl text-lg text-gray-300 md:text-xl">
          Ultimate solution for managing reaction roles in your Discord server,
          and the best part is, it's completely <strong>free</strong>! No hidden
          charges or payments like other bots. Try it out today and see for
          yourself how <strong>easy</strong> it is to use!
        </p>
        <div class="mt-6 flex flex-col gap-6 md:flex-row">
          <a
            href="https://discord.com/api/oauth2/authorize?client_id=923267906941370368&permissions=268435456&scope=bot%20applications.commands"
            class="broder-1 duration-400 flex items-center justify-center gap-x-3 rounded-lg border border-[#5865F2] bg-[#5865F2]/25 px-10 py-3 text-lg font-semibold text-white shadow-2xl shadow-[#5865F2]/25 transition-colors ease-out hover:bg-[#5865F2]/40 hover:shadow-[#5865F2]/30"
            target="_blank"
          >
            <Invite />
            Add to Discord</a
          >
          <a
            href="https://github.com/xHyroM/roles-bot"
            class="broder-1 duration-400 flex items-center justify-center gap-x-3 rounded-lg border border-[#FFA500] bg-[#FFA500]/25 px-10 py-3 text-lg font-semibold text-white shadow-2xl shadow-[#FFA500]/25 transition-colors ease-out hover:bg-[#FFA500]/40 hover:shadow-[#FFA500]/30"
            target="_blank"
          >
            <Computer />
            GitHub</a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
